<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_Footerjs>
            <version>0.0.2</version>
        </Meanbee_Footerjs>
    </modules>
    <global>
        <helpers>
            <meanbee_footerjs>
                <class>Meanbee_Footerjs_Helper</class>
            </meanbee_footerjs>
        </helpers>
        <models>
            <meanbee_footerjs>
                <class>Meanbee_Footerjs_Model</class>
            </meanbee_footerjs>
        </models>
    </global>
    <frontend>
        <events>
            <http_response_send_before>
                <observers>
                    <meanbee_footerjs>
                        <type>singleton</type>
                        <class>meanbee_footerjs/observer</class>
                        <method>handleInlineJs</method>
                    </meanbee_footerjs>
                </observers>
            </http_response_send_before>
        </events>
    </frontend>
</config>
