<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_Footerjs>
            <version>0.1.3</version>
        </Meanbee_Footerjs>
    </modules>
    <global>
        <helpers>
            <meanbee_footerjs>
                <class>Meanbee_Footerjs_Helper</class>
            </meanbee_footerjs>
        </helpers>
        <models>
            <meanbee_footerjs>
                <class>Meanbee_Footerjs_Model</class>
            </meanbee_footerjs>
            <enterprise_pagecache>
                <rewrite>
                    <observer>Meanbee_Footerjs_Model_PageCache_Observer</observer>
                </rewrite>
            </enterprise_pagecache>
        </models>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <meanbee_footerjs_block>
                        <type>singleton</type>
                        <class>meanbee_footerjs/observer</class>
                        <method>handleBlockInlineJs</method>
                    </meanbee_footerjs_block>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
</config>
